// Gray
$gray-950: #171717;
$gray-900: #1c1c1c;
$gray-800: #262626;
$gray-700: #333;
$gray-600: #5c5c5c;
$gray-500: #7a7a7a;
$gray-400: #a3a3a3;
$gray-300: #d1d1d1;
$gray-200: #ebebeb;
$gray-100: #f5f5f5;
$gray-50: #f7f7f7;
$white: #fff;
$black: #000;

// Green
$green-950: #030;
$green-900: #060;
$green-800: #008a00;
$green-700: #00bd00;
$green-600: #00eb00;
$green-500: #00fa00;
$green-400: #4f0;
$green-300: #9eff7a;
$green-200: #c8ffb2;
$green-100: #e2ffd6;
$green-50: #f5fff0;

// alpha: 20% opacity
$green-alpha-24: rgba($green-500, 0.24);

// Orange
$orange-950: #450e07;
$orange-900: #812413;
$orange-800: #9e200a;
$orange-700: #c72400;
$orange-600: #f03000;
$orange-500: #ff5100;
$orange-400: #ff7842;
$orange-300: #ffad85;
$orange-200: #ffd1b8;
$orange-100: #ffe8db;
$orange-50: #fff5f0;

// alpha: 20% opacity
$orange-alpha-24: rgba($orange-500, 0.24);

// Pink
$pink-950: #570045;
$pink-900: #8f0075;
$pink-800: #b20095;
$pink-700: #db00ba;
$pink-600: #fa00e1;
$pink-500: #ff42e9;
$pink-400: #ff75ff;
$pink-300: #ffadff;
$pink-200: #ffd1ff;
$pink-100: #ffe5ff;
$pink-50: #fff0fe;

// alpha: 20% opacity
$pink-alpha-24: rgba($pink-500, 0.24);

// Blue
$blue-950: #00324d;
$blue-900: #005075;
$blue-800: #006999;
$blue-700: #0088c7;
$blue-600: #00b8f5;
$blue-500: #24cfff;
$blue-400: #00eaff;
$blue-300: #80f0ff;
$blue-200: #b2f6ff;
$blue-100: #d1faff;
$blue-50: #ebfeff;

// alpha: ~24% opacity
$blue-alpha-24: rgba($blue-500, 0.24);
