---
import Typography from '~components/ui/Typography.astro';
import Button from '~components/ui/Button.astro';
import { LANDING_SECTIONS } from '~consts/landingSections';

const links = [
  {
    text: 'Features',
    href: LANDING_SECTIONS.FEATURES,
  },
  {
    text: 'Code',
    href: LANDING_SECTIONS.CODE,
  },
  {
    text: 'Use Cases',
    href: LANDING_SECTIONS.USE_CASES,
  },
  {
    text: 'Book',
    href: LANDING_SECTIONS.BOOK,
  },
];
---

<header>
  <div class="content">
    <svg
      width="135"
      height="36"
      viewBox="0 0 135 36"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_50_1140)">
        <g clip-path="url(#clip1_50_1140)">
          <rect y="23.2673" width="10.5347" height="10.5347" fill="#FF42E9"
          ></rect>
          <rect
            x="10.5347"
            y="12.7327"
            width="10.5347"
            height="10.5347"
            fill="#00FA00"></rect>
          <rect
            x="21.0693"
            y="2.198"
            width="10.5347"
            height="10.5347"
            fill="#24CFFF"></rect>
          <rect
            x="21.0693"
            y="23.2673"
            width="10.5347"
            height="10.5347"
            fill="#FF5100"></rect>
          <path
            d="M47.6217 28V8.59333H51.3663L60.3317 24.4193V8.59333H63.2837V28H59.4023L50.5737 12.5293V28H47.6217ZM72.4499 28.328C71.0286 28.328 69.7986 28.0182 68.7599 27.3987C67.7395 26.7791 66.9468 25.8953 66.3819 24.7473C65.8353 23.5993 65.5619 22.26 65.5619 20.7293C65.5619 19.1987 65.8353 17.8684 66.3819 16.7387C66.9468 15.5907 67.7395 14.7069 68.7599 14.0873C69.7804 13.4496 70.983 13.1307 72.3679 13.1307C73.6799 13.1307 74.837 13.4404 75.8393 14.06C76.8415 14.6613 77.6159 15.536 78.1626 16.684C78.7275 17.832 79.0099 19.2169 79.0099 20.8387V21.5767H68.5686C68.6415 22.998 69.015 24.064 69.6893 24.7747C70.3817 25.4853 71.311 25.8407 72.4773 25.8407C73.3337 25.8407 74.0444 25.6402 74.6093 25.2393C75.1742 24.8384 75.5659 24.3009 75.7846 23.6267L78.7913 23.818C78.4086 25.1664 77.6524 26.2598 76.5226 27.098C75.411 27.918 74.0535 28.328 72.4499 28.328ZM68.5686 19.39H75.9486C75.8575 18.0962 75.4839 17.1396 74.8279 16.52C74.1902 15.9004 73.3702 15.5907 72.3679 15.5907C71.3293 15.5907 70.4728 15.9187 69.7986 16.5747C69.1426 17.2124 68.7326 18.1509 68.5686 19.39ZM85.7724 28.328C84.3146 28.328 83.1484 27.8451 82.2737 26.8793C81.4173 25.8953 80.989 24.5378 80.989 22.8067V13.4587H83.8864V22.0687C83.8864 23.3807 84.1142 24.3464 84.5697 24.966C85.0253 25.5856 85.7177 25.8953 86.647 25.8953C87.7039 25.8953 88.5239 25.5582 89.107 24.884C89.7084 24.1916 90.009 23.2258 90.009 21.9867V13.4587H92.9064V28H90.2004L90.1457 24.2007L90.5557 24.3647C90.3006 25.6402 89.763 26.6242 88.943 27.3167C88.123 27.9909 87.0662 28.328 85.7724 28.328ZM96.048 28V13.4587H98.6993L98.8087 17.3127L98.5627 17.2307C98.7631 15.9187 99.164 14.962 99.7653 14.3607C100.385 13.7593 101.214 13.4587 102.253 13.4587H103.647V16.0553H102.253C101.524 16.0553 100.913 16.1738 100.421 16.4107C99.9293 16.6476 99.5558 17.012 99.3007 17.504C99.0638 17.996 98.9453 18.6338 98.9453 19.4173V28H96.048ZM110.74 28.328C109.355 28.328 108.143 28.0182 107.105 27.3987C106.066 26.7791 105.264 25.8953 104.699 24.7473C104.135 23.5993 103.852 22.26 103.852 20.7293C103.852 19.1804 104.135 17.8411 104.699 16.7113C105.264 15.5816 106.066 14.7069 107.105 14.0873C108.143 13.4496 109.355 13.1307 110.74 13.1307C112.125 13.1307 113.337 13.4496 114.375 14.0873C115.414 14.7069 116.216 15.5816 116.781 16.7113C117.346 17.8411 117.628 19.1804 117.628 20.7293C117.628 22.26 117.346 23.5993 116.781 24.7473C116.216 25.8953 115.414 26.7791 114.375 27.3987C113.337 28.0182 112.125 28.328 110.74 28.328ZM110.74 25.8133C111.979 25.8133 112.936 25.3669 113.61 24.474C114.284 23.5629 114.621 22.3147 114.621 20.7293C114.621 19.144 114.284 17.9049 113.61 17.012C112.936 16.1009 111.979 15.6453 110.74 15.6453C109.519 15.6453 108.563 16.1009 107.87 17.012C107.196 17.9049 106.859 19.144 106.859 20.7293C106.859 22.3147 107.196 23.5629 107.87 24.474C108.563 25.3669 109.519 25.8133 110.74 25.8133ZM119.6 28V13.4587H122.251L122.36 17.34L122.005 17.1487C122.169 16.2011 122.479 15.4358 122.934 14.8527C123.39 14.2696 123.946 13.8413 124.602 13.568C125.258 13.2764 125.968 13.1307 126.734 13.1307C127.827 13.1307 128.729 13.3767 129.44 13.8687C130.168 14.3424 130.715 14.9984 131.08 15.8367C131.462 16.6567 131.654 17.5951 131.654 18.652V28H128.756V19.5267C128.756 18.6702 128.665 17.9504 128.483 17.3673C128.301 16.7842 128 16.3378 127.581 16.028C127.162 15.7182 126.615 15.5633 125.941 15.5633C124.92 15.5633 124.091 15.9004 123.454 16.5747C122.816 17.2489 122.497 18.2329 122.497 19.5267V28H119.6Z"
            fill="#F7F7F7"></path>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_50_1140">
          <rect width="134.271" height="36" fill="white"></rect>
        </clipPath>
        <clipPath id="clip1_50_1140">
          <rect width="134.271" height="36" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="rightSide">
      <div class="links">
        {
          links.map((item) => {
            return (
              <a href={'#' + item.href}>
                <Typography styling="paragraphM" tag="span">
                  {item.text}
                </Typography>
              </a>
            );
          })
        }
      </div>

      <div class="buttons">
        <Button href="https://github.com/neuron-core/neuron-ai" text="github" variant="outline" />
        <Button href="https://docs.neuron-ai.dev/" text="read docs" />
      </div>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    border-bottom: 1px solid var(--border-soft);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: var(--max-width);
    height: 74px;
    margin: 0 auto;
  }

  .rightSide {
    display: flex;
    gap: var(--s-32);
  }

  .links {
    display: flex;
    gap: var(--s-24);
    align-items: center;

    a {
      color: var(--text-primary);
      text-decoration: none;
    }
  }

  .buttons {
    display: flex;
    gap: var(--s-12);
  }
</style>
